header{
	background-color: #F15831;
	color: white;
	padding: 30px 20px;
}
body{
	text-align: center;
	margin: 0px;
}
nav{
	background-color: #00A6B3;
	color: white;
	padding: 20px 0px;
}
main{
	width: 850px;
	margin: 35px auto;
}
h1{
	margin: 0px;
}
a{
	font-family: 'Yeon Sung', cursive;
	font-size: 23px;
	text-transform: uppercase;
	padding: 0px 20px;
	color: white;
	border-bottom: 2px solid transparent;

}
a:hover{
	border-color: white;
}
img{
	margin: 40px 8px 0px 8px;
	width: 190px;
	height: 350px;
}
ul {
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
}
.k{
		color: black;
}
footer{
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	float: left;
}
.message{
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color: #f15b31;
	font-weight: 700;
}